/* ————————————— fonts ————————————— */
@font-face  {
    font-family:    "Varp";
    src:
        url("fonts/VarpVariable.woff2"),    format(truetype-variation);
        font-display:   swap; 
}

@font-face  {
    font-family:    "Inter";
    src:    url("https://fonts.googleapis.com/css2?family=Inter&display=swap")  format("woff2");
    font-display:   swap;
    font-weight:    100;
}

p   {
    font-size:  1em;
    margin:     0;
}

hgroup  p    {
    /* margin:     6svw    0; */
}



.p-frame    {
    text-align:     center;
    display:        flex;
    align-items:    center;
    border:         2px solid;
    padding:        20px;
    margin:         40px    20px    0   20px;
}

.p-accent-2 {
    font-family:    "Varp";
    font-variation-settings:    "slnt"  0,  "wdth"  30;
    font-weight:    normal;
    font-size:      5em;
    text-transform: uppercase;
    margin:         0;
}

.p-accent   {
    position:   absolute;
    opacity:    0;

    text-align: center;

    transition:
        opacity 0.4s ease,
        transform 0.4s ease;

    transform: translateY(20px);
}

.p-accent.p-active {
    opacity: 1;
    transform: translateY(-50px);
}

/* .aside {
    position: absolute;
    margin: 0 0 0 20px;
    left: 0;
} */





h1 {
    font-size: 3em;
}

h2 {
    font-family: "Varp";
    font-size: 33vw;
    font-weight: normal;
    /* text-align: center; */
    font-variation-settings: "slnt" 0, "wdth" 6;
    text-transform: uppercase;
    margin: 0;
    line-height: 90%;
}

h3 {
    font-family: "Varp";
    font-size: 3.4em;
    font-weight: normal;
    text-align: left;
    font-variation-settings: "slnt" 23, "wdth" 78;
    text-transform: uppercase;
    margin: 0;
    line-height: 100%;
    letter-spacing: -3%;
    margin: 0 20px;
    /* display: flex; 
    flex-direction: column; */
    position: relative;
    z-index: 1;

}

.h3-inverce {
    font-variation-settings: "slnt" -16, "wdth" 78;
    margin: 0;

}

.span-diving {
    display: block;
    margin: 200px 0 0 0;
}

.span-diving-inverce {
    text-align: right;
}


.timeline {
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 50svw;
    padding: 0 3svw;
}

.timeline hgroup {
    /* margin: 10vw 5vw 70vw 25vw; */
    display: grid;
    grid-template-columns: 16svw  1fr;
    gap: 3svw;

}



.timeline::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 10svw;
    width: 1.2px;
    background: black;
}

.timeline h6 {  
    margin: 0 0 3svw;
}

.timeline-final {
    z-index: 2;
    margin: 0;
    background: #FC709C;
    padding: 0 0 2svw;
    text-align: center;
    height: auto;
}

.timeline .text-center {
    z-index: 2;
    margin: 0;
    background: #FC709C;
    height: fit-content;
    padding: 0 0 2svw;
}



h4 {
    font-family: "Varp";
    font-size: 4em;
    font-weight: normal;
    /* text-align: center; */
    font-variation-settings: "slnt" 30, "wdth" 55;
    text-transform: uppercase;
    margin: 0;
    line-height: 90%;
    letter-spacing: -3%;
}

.h4-inverce {
    font-variation-settings: "slnt" -30, "wdth" 55;
    margin: 0;
}

h5 {
    font-family: "Varp";
    font-size: 2.0em;
    font-weight: normal;    
    font-variation-settings: "slnt" 24, "wdth" 78;
    text-transform: uppercase;
    line-height: 100%;
    /* letter-spacing: -3%; */
    margin: 0;
}



h6 {
    font-size: 1.2em;
    font-weight: normal;
    /* text-align: center; */
    text-transform: uppercase;
    margin: 0;
    /* color: white; */

}

.text-center {
    text-align: center;
}

.marker {

    box-shadow: inset 0 -0.6em 0 #FC709C;


    /* background: #FC709C;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone; */
}



span {
    font-family: "Varp";
    /* box-decoration-break: clone;
    -webkit-box-decoration-break: clone; */
}


::selection {
    background: black;
    color: #FC709C;
}

a {
    color: black;
}

a:hover {
    color: white;
}

/* ————————————— scroll animation ————————————— */

.sticky {
    position: sticky;
    top: 0;

    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
}



/* ————————————— general tag ————————————— */
* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

canvas {
    touch-action: none;
    display: block;

}

body {
    /* display: flex; */
    /* width: 100svw; */
    margin: 0;
    padding: 0;
    color: black;
    /* padding-top: env(safe-area-inset-top); */
        overflow-x: clip;

}

header {
    width: 100%;
    display: flex;
    position: absolute;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: flex-end;
    flex-direction: column;
    padding: 10px;
    gap: 5px;
    color: white;
    z-index: 2;
}

main {
    position: relative;
    display: flex;
    /* margin: 20px; */
    background-color: #FC709C;
    overflow: clip;
    flex-direction: column;

}   

figure {
    margin: 0 3svw;
}

figcaption {
        margin: 0 11svw 0 0;

}

section {
    width: 100svw;
}

button {
    border: none !important;
    width: 100%;
    padding: 10px 20px; 
    border-radius: 100px;
    text-wrap: nowrap;


    font-size: 1em; 
    background-color: transparent;
    border: 1px solid black;
    cursor: pointer;
}

button[data-tc-event] {

    border: none !important;
    padding: 0 20px !important; 
    border-radius: 100px !important;

    font-family: 'Inter', sans-serif !important;
    font-size: 1em !important; 
    background-color: black !important;
    text-transform: none !important;
    border: 1px solid black !important;
    box-shadow: none !important;
    text-shadow: none !important;


}


footer {
    color: white;
    background-color: black;
    padding: 12svw 6svw 24svw 6svw;
    display: flex;
    flex-direction: column;
    gap: 15svw;

    @media  (min-width: 900px)  {
        padding: 6svw 6svw 12svw 6svw;   
        display: flex;
        flex-direction: row;
    }

    & p {
        width: 80%;
        font-size: 0.9em;
        color: rgba(255, 255, 255, 0.7);

        @media  (min-width: 900px)  {
            width: 100%;
            font-size: 1.5em;
        }
    }

    & .logo {
        width: 8em;
        margin: 0 0 2svw 0;
    }

    & a {
        text-decoration: underline;
        text-wrap: nowrap;
        display: inline;
        padding: 0;

        color: white;
    }

    & div {
        display: flex;
        flex-direction: column;
        gap: 15svw;

        & p {
            @media  (min-width: 900px)  {
                font-size: 1em;
            }
        }

        @media  (min-width: 900px)  {
            gap: 5svw;
        }
    }

    & hgroup {
        @media  (min-width: 900px)  {
            width: 25%;
        }    
    }
}

.footer-link {
    width: fit-content;
    display: inline-block;
    padding: 5px 10px;     
    border-radius: 100px;
    text-wrap: nowrap;
    text-decoration: none;


    background-color: transparent;
    border: 1px solid white; 
    margin: 2svw 0 0 0;  

    @media  (min-width: 900px)  {
        margin: 0.5svw 0 0 0;
    }
}


.cover button {
    color: #ffffff;
    border: 1px solid white;
}

.button-sticky {
    position:   fixed;
    width:      88svw;
    bottom:     0;
    color:    white;
    background-color: black;
    margin:     3svw    6svw;
    z-index:    3;

    transform:  translateY(120px);
    opacity:    0;

    transition:
        transform 0.5s ease,
        opacity 0.5s ease;
}

.button-sticky.visible {
    transform: translateY(0);
    opacity: 1;
}

button:hover {
    background-color: white;
    color: black;
}

/* ————————————— castom class ————————————— */

.hide {
    display: none;
}

.logo {
    width: 6.3em;
}

.schedule {

    & p {
        padding: 0 3svw;
    }


    & svg {
        display: block;
        padding: 0 3svw 5svw 3svw ;
        width: 98%;
    }
}  

/* .kodex {
    /* height: 100vh;
    /* background-color: #ffffff; 
    padding: 40px 0;
} */

#sticker-1 {
    position: absolute;
    width: 40svw;
    left: 3svw;
    margin-top: -19svw;
    z-index: 2;
}

#sticker-2 {
    position: absolute;
    width: 40svw;
    right: 6svw;
    align-self: flex-end;    
    margin-top: 111svw;
    z-index: 0;
}

.kodex {
    display: flex;
    height: 160svw;
    flex-direction: column;
    padding: 100px 0 80px 0;

    background-color:   #ffffff;
    background-image:   url("media/ellipse.svg");
    background-size:    160vw;
    background-position: 140px 0;
    background-repeat:  no-repeat; 

    & h2 {
        font-size: 40svw;
        text-align: center;
        z-index: 1;

        @media  (min-width: 900px)  {  
            font-size:   18vw;  
        }
    }
}


/* .kodex svg {
    /* position: absolute; 
    display: block;
    /* margin: 50px 20px 0 20px ; 
    width: 200vw;
    /* top: 0; 
} */

.project-history {
    background-color: #ffffff;
    padding: 35svw 6svw 35svw 6svw;

    & hgroup {
        @media  (min-width: 900px)  {  
            display:        flex;
            width:          40%;
            flex-direction: column;
            margin:         auto;
        }
 
    }
    & h5 {
        margin: 20svw 0 7svw 0;

        @media  (min-width: 900px)  {  
            margin: 200px   0   2svw    0;
        }
    }

    & p {
        margin: 4svw   0;


        @media  (min-width: 900px)  {  
            margin: 1svw   0;
        }
    }

    @media  (min-width: 900px)  {  
        padding: 0 0 15svw 0;
    }
}

/* .project-history h5 {
    margin: 200px 0 0 0;
} */


    /* .project-history    p  {
        margin: 1svw   0;
    } */



.logo-130 {
    width: 15em;
    padding: 0 0 30px 0;

}

.ritm-130 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 200px 10px;

    text-align: center;
    /* height: 110vh; */
    color: #ffffff;
    background-color: white;

    background-image:   url("media/rectangle.svg");
    background-size:    60em;
    background-position: top center;
    background-repeat:  no-repeat; 
}

.ritm-130 .p-accent-2 {
    font-size: 4em;

}
.ritm-130 .text-center {
    margin: 96svw 50px 0 50px;
    color: black;
}

.ritm-130 .marker {
    font-family: "Varp";
}



#kodex {
    /* width: 100svw; */
    /* height: 100vh; */
}







/* ————————————— margins ————————————— */
.margin-200 {
    margin: 200px 0 0 0;
}

.margin-80 {
    margin: 80px 0 0 0;
}

.margin-80-buttom {
    margin: 0 0 80px 0;
}

/* ————————————— section ————————————— */

.cover {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
    position: relative;
    z-index: 1;

    padding: 0 3svw 3svw 3svw;
    gap: 3svw;

    height: 100svh;
    width: 100%;
    background-image: url("media/cover-background-image.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}

.cover h6{
    font-size: 1.3em;
    font-weight: 100;
    text-transform: lowercase;
    margin: 0 0 3svw 0;
    /* margin: 0 18svw 10svw 3svw ; */
}



.cover::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;

    height: 100svh;
    background: linear-gradient(
        to top,
        #FC709C,
        transparent 25%);
}



.client-pain {
    height: 250vh;

    background: linear-gradient(
        to bottom,
        #FC709C,
        #ffffff
    );
}

.decision {
    display: flex;
    flex-direction: column;
    padding: 100px 0 80px 0;

    background-color:   #ffffff;
    background-image:   url("media/ellipse.svg");
    background-size:    160vw;
    background-position: -140px 0;
    background-repeat:  no-repeat; 
}

.decision h5 {
    margin: 0 80px 0 10px;

    position: relative;
    z-index: 2;
}

.decision img {
    width: 80vw;
    align-self: flex-end;    
    /* z-index: 0; */
    margin-top: -5px;
}

.decision video {
    width: 80vw;
    align-self: flex-end;    
    /* z-index: 0; */
    margin-top: -5px;
}



.background {
    display: none;
    /* position: absolute; */

    position: relative;

    margin: 7svw 0 0 5svw;
    
    width: 90vw;
    /* margin: 40px 0 0 180px; */
    color: white;
    z-index: -1;
}   

.background-mobile {
    display: block;
    /* position: absolute; */

    /* width: 100vw; */
    padding: 100px 0 0 30px;
    /* color: white; */
    /* z-index: -1; */
}

#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.hgroup-padding {
    padding: 5svw 3svw;

    & p {
        width: 90%;
        margin: 8svw 0;

        @media (min-width: 900px) {  
            width: 40%;
            margin: 3svw 0;  
        }
    }
}

/* .cover-2 {
    height: 100svh;
    padding: 20svw 0;

    & h2 {
        font-size: 32vw;
        text-align: left;
        padding: 5svw;
    }

    @media (min-width: 900px) {  
        margin: 10svw 0;

        & hgroup {
            margin: 0 20svw;
        }
    }
} */

.face-control {
 margin: 150px 0;
    & .p-frame{
        text-align: left;
        flex-direction: column;
        gap: 1em;

        @media  (min-width: 900px)  {  
            margin: 4svw 32svw;
            flex-direction: row;
            align-items: baseline;
        }
    }
 
}

.space {
    /* background-image:   url("media/ellipse.svg");
    background-size:    200vw;
    background-position: -100vw 78svw;
    background-repeat:  no-repeat; */
    position: relative;

    /* & img {
        width: 90svw;
        margin: 2svw 0 10svw 2svw;

        @media  (min-width: 900px)  {   
        margin: 2svw;
        }
    } */

    /* display: flex; */

    /* --gap: 1em;
    --columns: 1;
    --gap-number: calc(var(--columns) - 1);
    gap: var(--gap); */

    & hgroup {
        /* width: 80%; */
        /* text-align: left; */
        /* margin: 0 3svw; */

        @media  (min-width: 900px)  {   
            /* --columns: 4; */
            /* width: calc((100% - var(--gap-number) * var(--gap)) / (var(--columns))); */
            /* margin: 5svw; */
            /* margin: 0svw; */
        }

        & h4 {
            /* margin: 2svw; */
        }
    }

    @media  (min-width: 900px)  {   
        padding: 0 0 8svw 0
    }
}

#collage-ellipse {
    position: absolute;
    width: 193svw;

    top: 101svw;
    left: -95svw;

    z-index: 2;

    @media  (min-width: 900px)  {   
        width: 114svw;

        top: -39svw;
        left: -22svw;
    }
}

#collage-photo-1 {
    width: 60svw;
    height: 90svw;
    object-fit: cover;

    position: relative;
    top: 2svw;
    left: 20svw;

    @media  (min-width: 900px)  {   
        width: 25svw;
        height: 38svw;

        top: 0svw;
        left: 9svw;
    }
}

#collage-photo-2 {
    width: 48svw;
    height: 48svw;
    object-fit: cover;

    position: relative;
    top: -10svw;
    left: 2svw;

    z-index: 2;

    @media  (min-width: 900px)  {   
        width: 20svw;
        height: 20svw;

        top: -26svw;
        left: 4svw;
    }
}

#collage-photo-3 {
    width: 60svw;
    height: 90svw;
    object-fit: cover;

    position: relative;
    top: -27svw;
    left: 31svw;

    @media  (min-width: 900px)  {   
        width: 25svw;
        height: 41svw;

        top: -11svw;
        left: 13svw;
    }
}

#collage-photo-4 {
    width: 74svw;
    height: 74svw;
    object-fit: cover;

    position: relative;
    top: -39svw;
    left: 5svw;

    z-index: 2;

    @media  (min-width: 900px)  {   
        width: 22svw;
        height: 22svw;

        top: 7svw;
        left: 0svw;
    }
}




.headliners {  
    display: flex;
    flex-wrap: wrap;         
    padding: 0;

    --gap: 1em;
    --columns: 1;
    --gap-number: calc(var(--columns) - 1);
    gap: var(--gap);

    background-image:   url("media/ellipse.svg");
    background-size:    0;
    background-position: -100vw 100px;
    background-repeat:  no-repeat; 

    & .empty {
        display: none;

        @media  (min-width: 900px)  {   
            display: block;
        }
    }

    & figure {
        width: calc((100% - var(--gap-number) * var(--gap)) / (var(--columns)));
        margin: 0;

        & img {
            width: 100%;
            height: 105svw;
            object-fit: cover;
        }

        @media  (min-width: 900px)  {   
            & img {
                height: 30svw;
            }
        }

        & figcaption {
            padding: 3svw 3svw 11svw;
            
            & h6 {
                margin: 0 0 2svw 0;
                @media  (min-width: 900px)  {
                margin: 0 0 0.5svw 0;
                }

            }
            @media  (min-width: 900px)  {   
            padding: 0;
            }
        } 
    }

    @media  (min-width: 900px)  {   
     --columns: 4;
    padding: 2svw;

    background-image:   url("media/ellipse.svg");
    background-size:    84vw;
    background-position: 56vw 0;
    background-repeat:  no-repeat; 

        & .empty {
            display: block;
        }
    }
}


.diving {
    margin:         20svw    0;

    @media  (min-width: 900px)  {   
        display:        flex;
        width:          60%;
        flex-direction: column;
        margin:         18svw    auto;
    }
}

.ritm-130-2 {
    position: relative;

    height: 120svh;
    width: 100%;
    background-image: url("media/ritm-130-background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;

    & svg {
        width: 35svw;
        
        position: absolute;
        top: 15svw;
        right: 10svw;

        z-index: 2;

        @media  (min-width: 900px)  {   
            width: 10svw;
        }
    }

    & p {
        text-align: center;
        position: absolute;
        bottom: 0svw;
        margin: 10svw;
    }
}

/* ——————— line animation (mobile) ——————— */

#background-mobile-line {
    animation: draw 6s linear forwards infinite;
    stroke-dasharray: 10000;
    stroke-dashoffset: 10000;
}

@keyframes draw {
    100% {
        stroke-dashoffset: 10000;
    }

    99% {
        stroke-dashoffset: 0;
    }

    90% {
        stroke-dashoffset: 0;
    }

    0% {
        stroke-dashoffset: 10000;
    }
}

/* ————————————— email-form ————————————— */

.email-form {
    background-color: #FC709C;
    border: 2px solid;

    display: flex;
    flex-direction: column;
    margin: 0 0 7vw 0;

    width: 350px;
    gap: 10px;  
    padding: 20px;
    
    z-index: 1
}

.email-form button {
    border: none;
    width: 100%;
    padding: 10px 20px; 
    border-radius: 100px;
    text-wrap: nowrap;


    font-size: 1em; 
    background-color: transparent;
    border: 2px solid black;

}

.email-form button:hover {
    border: none;
    background-color:black;

    color: white;
    border: 2px solid transparent;
}

.email-form label {
    font-weight: 100;
}

.email-form label[for="input"]{
    font-size: 1.25em;
}


input:not([type="checkbox"]) {
    color: white;
    

    font-size: 1.2em;
    background-color: transparent;

    
    border: none;
    border-bottom: 2px solid black;    
    border-radius: 0px;

    padding: 3px;
    display: flex;
    width: 100%;
    margin: 6px 0 0 0; 
}

input::placeholder {    
    color: #5b5b5b;
}

input:focus-visible {
    outline: none;
}


/* ————————————— adaptive version ————————————— */

@media  (min-width: 900px)  {
    .logo   {
        width:      11.6em;
    }

    .cover-text {
        font-size:  2.5em;
        margin:     0   51svw   2svw    2svw;
        letter-spacing: 3%;


    }

    header  {
        padding:    1svw;
    }

    h2  {
       font-size:   18vw; 
    }

    h4  {
        /* font-size:  12.5em; */
        font-size: 10.5svw;
    }

    h5  {
        font-size:  5em;
    }

    h6  {
        font-size:  1.7em;
    }

    .decision   video {
        width:      40vw;
        margin-top: -40svw;

    }  

    .decision   {
        padding:                100px   0   12svw   0;
        background-size:        84vw;
        background-position:    -10svw  0svw;
    }

    .decision h5    {
        margin:     0   0   0   2svw;
        width:      50%;
    }

    .p-frame    {
        justify-content:    center;
    }


    .cover  {
        padding:     0   3svw    4svw    3svw;
    }

    p {
        font-size: 1.5em;
    }

    .schedule {
        display:            flex;
        flex-direction:     column;
        justify-content:    space-between;
        align-items:        center;    
    }

    .schedule svg {
        width: 40svw;
    }

    .background { 
       display: block; 
    }

    .background-mobile { 
       display: none; 
    }
    

    .button-sticky  {
        width:  fit-content;
        top:    2svw;
        right:  2svw;
        bottom: auto;
        margin: 0;

        font-size:  1.5em;

        transform: translateY(-120px);
    }

    .cover  button  {
        width:      fit-content;
        font-size:  1.5em;
    }

    .cover  h6  {
        font-size:  2em;
        margin:     0   0   1svw    0;
        /* width: ; */
    }




/* 
    hgroup  p   {
        margin: 0;
    } */

    .timeline   {
        gap:    30svw;
    }

    .timeline   hgroup  {
        grid-template-columns:  7svw    0.7fr;
    }

    .timeline::before   {
        left:   6.5svw;
    }

    .timeline   h6  {
        margin: 0 0 1.2svw;
    }

    figcaption  {
        font-size:  1.5em;
        margin:     1svw    0;
    }

    #sticker-1  {
        width:      26svw;
        left:       6svw;
        margin-top: -5svw;
    }

    #sticker-2  {
        width:      23svw;
        right:      8svw;
        margin-top: 24svw;
    }

    .kodex  {
        height:                 87svw;
        padding:                15svw   0   80px    0;
        background-size:        87vw;
        background-position:    53.5svw 0;
    }

    .ritm-130   {
        background-size:    65em;
        background-repeat:  repeat-x;
        padding:            12svw   10px;
    }

    .p-accent-2 {
        width: 25%;
    }

    .ritm-130   .text-center    {
        margin: 28svw   50px    0   50px;
    }






}




@media (min-width: 500px) and (max-width: 900px) {
    .email-form {
        width: 350px;
        margin: 0 auto 15px auto; 
    }


    
}

@media (max-width: 900px) {
    .email-form {
        width: auto;
        margin: 0 15px 15px 15px; 
    }   

    .email-form label[for="input"]{
        font-size: 1.2em;
    }   

    input[type="email"] {
        border: none;
        border-bottom: 2px solid black;
        font-size: 1.2em;
    }

    .consent {
        font-size: 1em; 
    }


}





/* ————————————— archive ————————————— */

/* @media (min-width: 1500px) {
 
} */

    /* .cover  {
        flex-direction: column-reverse;
        background-position: 0 -16svw;
    } */